In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
file = 'CreditScoring.csv'

In [3]:
df = pd.read_csv(file)
df.columns = df.columns.str.lower()
df.head()

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,1,9,1,60,30,2,1,3,73,129,0,0,800,846
1,1,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,2,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,1,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,1,0,1,36,26,1,1,1,46,107,0,0,310,910

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4455 entries, 0 to 4454
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   status     4455 non-null   int64
 1   seniority  4455 non-null   int64
 2   home       4455 non-null   int64
 3   time       4455 non-null   int64
 4   age        4455 non-null   int64
 5   marital    4455 non-null   int64
 6   records    4455 non-null   int64
 7   job        4455 non-null   int64
 8   expenses   4455 non-null   int64
 9   income     4455 non-null   int64
 10  assets     4455 non-null   int64
 11  debt       4455 non-null   int64
 12  amount     4455 non-null   int64
 13  price      4455 non-null   int64
dtypes: int64(14)
memory usage: 487.4 KB

In [5]:
status_values = {
    1: 'ok',
    2: 'default',
    0: 'unk'
}

df.status = df.status.replace(status_values)

home_values = {
    1: 'rent',
    2: 'owner',
    3: 'private',
    4: 'ignore',
    5: 'parents',
    6: 'other',
    0: 'unk'
}

df.home = df.home.replace(home_values)

marital_values = {
    1: 'single',
    2: 'married',
    3: 'widow',
    4: 'separated',
    5: 'divorced',
    0: 'unk'
}

df.marital = df.marital.replace(marital_values)

records_values = {
    1: 'no',
    2: 'yes',
    0: 'unk'
}

df.records = df.records.replace(records_values)

job_values = {
    1: 'fixed',
    2: 'partime',
    3: 'freelance',
    4: 'others',
    0: 'unk'
}

df.job = df.job.replace(job_values)

In [6]:
df

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,ok,9,rent,60,30,married,no,freelance,73,129,0,0,800,846
1,ok,17,rent,60,58,widow,no,fixed,48,131,0,0,1000,1658
2,default,10,owner,36,46,married,yes,freelance,90,200,3000,0,2000,2985
3,ok,0,rent,60,24,single,no,fixed,63,182,2500,0,900,1325
4,ok,0,rent,36,26,single,no,fixed,46,107,0,0,310,910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,default,1,rent,60,39,married,no,fixed,69,92,0,0,900,1020
4451,ok,22,owner,60,46,married,no,fixed,60,75,3000,600,950,1263
4452,default,0,owner,24,37,married,no,partime,60,90,3500,0,500,963
4453,ok,0,rent,48,23,single,no,freelance,49,140,0,0,550,550
4454,ok,5,owner,60,32,married,no,freelance,60,140,4000,1000,1350,1650

In [7]:
df.describe().round()

,seniority,time,age,expenses,income,assets,debt,amount,price
count,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0
mean,8.0,46.0,37.0,56.0,763317.0,1060341.0,404382.0,1039.0,1463.0
std,8.0,15.0,11.0,20.0,8703625.0,10217569.0,6344253.0,475.0,628.0
min,0.0,6.0,18.0,35.0,0.0,0.0,0.0,100.0,105.0
25%,2.0,36.0,28.0,35.0,80.0,0.0,0.0,700.0,1118.0
50%,5.0,48.0,36.0,51.0,120.0,3500.0,0.0,1000.0,1400.0
75%,12.0,60.0,45.0,72.0,166.0,6000.0,0.0,1300.0,1692.0
max,48.0,72.0,68.0,180.0,99999999.0,99999999.0,99999999.0,5000.0,11140.0

In [8]:
df.describe().round()

,seniority,time,age,expenses,income,assets,debt,amount,price
count,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0,4455.0
mean,8.0,46.0,37.0,56.0,763317.0,1060341.0,404382.0,1039.0,1463.0
std,8.0,15.0,11.0,20.0,8703625.0,10217569.0,6344253.0,475.0,628.0
min,0.0,6.0,18.0,35.0,0.0,0.0,0.0,100.0,105.0
25%,2.0,36.0,28.0,35.0,80.0,0.0,0.0,700.0,1118.0
50%,5.0,48.0,36.0,51.0,120.0,3500.0,0.0,1000.0,1400.0
75%,12.0,60.0,45.0,72.0,166.0,6000.0,0.0,1300.0,1692.0
max,48.0,72.0,68.0,180.0,99999999.0,99999999.0,99999999.0,5000.0,11140.0

In [9]:
df.isnull().sum()

status       0
seniority    0
home         0
time         0
age          0
marital      0
records      0
job          0
expenses     0
income       0
assets       0
debt         0
amount       0
price        0
dtype: int64

In [10]:
df[['income', 'assets', 'debt']] = df[['income', 'assets', 'debt']].replace(99999999, np.nan)

In [11]:
df = df[df.status != 'unk'].reset_index(drop=True)
df = df.fillna(0)

In [12]:
status_values = {
    'ok':0,
    'default':1,
}
df.status = df.status.replace(status_values).astype(int)
df

,status,seniority,home,time,age,marital,records,job,expenses,income,assets,debt,amount,price
0,0,9,rent,60,30,married,no,freelance,73,129.0,0.0,0.0,800,846
1,0,17,rent,60,58,widow,no,fixed,48,131.0,0.0,0.0,1000,1658
2,1,10,owner,36,46,married,yes,freelance,90,200.0,3000.0,0.0,2000,2985
3,0,0,rent,60,24,single,no,fixed,63,182.0,2500.0,0.0,900,1325
4,0,0,rent,36,26,single,no,fixed,46,107.0,0.0,0.0,310,910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4449,1,1,rent,60,39,married,no,fixed,69,92.0,0.0,0.0,900,1020
4450,0,22,owner,60,46,married,no,fixed,60,75.0,3000.0,600.0,950,1263
4451,1,0,owner,24,37,married,no,partime,60,90.0,3500.0,0.0,500,963
4452,0,0,rent,48,23,single,no,freelance,49,140.0,0.0,0.0,550,550
4453,0,5,owner,60,32,married,no,freelance,60,140.0,4000.0,1000.0,1350,1650

In [13]:
target = df.status
data = df.drop(columns=['status'])

In [14]:
categoricalCols = ['home', 'marital', 'records', 'job']
numericalCols = ['seniority', 'time', 'age', 'expenses', 'income', 'assets', 'debt', 'amount', 'price']
allCols = categoricalCols + numericalCols

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
dfTrainFull, dfTest, yTrainFull, yTest = train_test_split(data, target, test_size=0.2, random_state=11)
dfTrain, dfVal, yTrain, yVal = train_test_split(data, target, test_size=0.25, random_state=11)

In [17]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

catPreprocessor = OneHotEncoder(handle_unknown="ignore")
preprocessor = ColumnTransformer([
    ('one-hot-encoder', catPreprocessor, categoricalCols)],remainder="passthrough")

In [18]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import make_pipeline

model = make_pipeline(preprocessor, DecisionTreeClassifier())

In [19]:
model.fit(dfTrain, yTrain)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('one-hot-encoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['home', 'marital', 'records',
                                                   'job'])])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [20]:
from sklearn.metrics import roc_auc_score
yValPred = model.predict_proba(dfVal)[:,1]
print(f'Val prediction: {yValPred}')
print(f'Val AUC: {roc_auc_score(yVal, yValPred)}')

yTrainPred = model.predict_proba(dfTrain)[:,1]
print(f'Train prediction: {yTrainPred}')
print(f'Train AUC: {roc_auc_score(yTrain, yTrainPred)}')

Val prediction: [1. 1. 0. ... 0. 0. 1.]
Val AUC: 0.6535299132204295
Train prediction: [1. 0. 1. ... 0. 0. 1.]
Train AUC: 1.0

Model is overfitting. Let's change the depth of the tree to 3.

In [21]:
model = make_pipeline(preprocessor, DecisionTreeClassifier(max_depth=3))
model.fit(dfTrain, yTrain)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('one-hot-encoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['home', 'marital', 'records',
                                                   'job'])])),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(max_depth=3))])

In [66]:
from sklearn.metrics import roc_auc_score
from sklearn.tree import export_text

yValPred = model.predict_proba(dfVal)[:,1]
print(f'Val prediction: {yValPred}')
aucVal = roc_auc_score(yVal, yValPred)
print(f'Val AUC: {aucVal}')
yTrainPred = model.predict_proba(dfTrain)[:,1]
print(f'Train prediction: {yTrainPred}')
print(f'Train AUC: {roc_auc_score(yTrain, yTrainPred)}')

Val prediction: [0.39529915 0.12840853 0.12840853 ... 0.10526316 0.12840853 0.61386139]
Val AUC: 0.739853782905721
Train prediction: [0.61596958 0.39529915 0.61386139 ... 0.12840853 0.12840853 0.39529915]
Train AUC: 0.7619636991251401

In [67]:
model2 = make_pipeline(preprocessor, DecisionTreeClassifier(max_depth=1))
model2.fit(dfTrain, yTrain)
from sklearn.metrics import roc_auc_score
yValPred = model2.predict_proba(dfVal)[:,1]
print(f'Val prediction: {yValPred}')
aucVal = roc_auc_score(yVal, yValPred)
print(f'Val AUC: {aucVal}')
yTrainPred = model2.predict_proba(dfTrain)[:,1]
print(f'Train prediction: {yTrainPred}')
print(f'Train AUC: {roc_auc_score(yTrain, yTrainPred)}')

Val prediction: [0.21973256 0.21973256 0.21973256 ... 0.21973256 0.21973256 0.56719023]
Val AUC: 0.6014641351702789
Train prediction: [0.21973256 0.21973256 0.56719023 ... 0.21973256 0.21973256 0.21973256]
Train AUC: 0.6226529357256055

In [68]:
names = list(model2.named_steps['columntransformer'].transformers_[0][1].get_feature_names_out(categoricalCols)) + numericalCols
names
print(export_text(model2['decisiontreeclassifier'], feature_names=names))

|--- records_no <= 0.50
|   |--- class: 1
|--- records_no >  0.50
|   |--- class: 0

In [69]:
model2.named_steps['columntransformer'].transformers_[0][1].get_feature_names_out(categoricalCols)

array(['home_ignore', 'home_other', 'home_owner', 'home_parents',
       'home_private', 'home_rent', 'home_unk', 'marital_divorced',
       'marital_married', 'marital_separated', 'marital_single',
       'marital_unk', 'marital_widow', 'records_no', 'records_yes',
       'job_fixed', 'job_freelance', 'job_others', 'job_partime',
       'job_unk'], dtype=object)

In [81]:
model3 = make_pipeline(preprocessor, DecisionTreeClassifier(max_depth=2))
model3.fit(dfTrain, yTrain)
from sklearn.metrics import roc_auc_score
yValPred = model3.predict_proba(dfVal)[:,1]
print(f'Val prediction: {yValPred}')
aucVal = roc_auc_score(yVal, yValPred)
print(f'Val AUC: {aucVal}')
yTrainPred = model3.predict_proba(dfTrain)[:,1]
print(f'Train prediction: {yTrainPred}')
print(f'Train AUC: {roc_auc_score(yTrain, yTrainPred)}')

Val prediction: [0.17867203 0.17867203 0.17867203 ... 0.58156028 0.17867203 0.70180723]
Val AUC: 0.6624278637454675
Train prediction: [0.58156028 0.17867203 0.70180723 ... 0.17867203 0.17867203 0.17867203]
Train AUC: 0.6972613817060012

In [82]:
names = list(model3.named_steps['columntransformer'].transformers_[0][1].get_feature_names_out(categoricalCols)) + numericalCols
names
print(export_text(model3['decisiontreeclassifier'], feature_names=names))

|--- records_no <= 0.50
|   |--- seniority <= 6.50
|   |   |--- class: 1
|   |--- seniority >  6.50
|   |   |--- class: 0
|--- records_no >  0.50
|   |--- job_partime <= 0.50
|   |   |--- class: 0
|   |--- job_partime >  0.50
|   |   |--- class: 1